
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

::-webkit-scrollbar{
    display: none;
}

html {
    text-align:center;
    /* overflow-x:none; #d5f5ef*/
    background-image: url("layer.svg"),linear-gradient(170deg,#def6e9 0%,#95cfc4 100%);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll, fixed;
    width: 100%;
    min-height:100%;
    display:flex;
    margin:0;
    padding:0;
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(fonts/OpenSans-Bold.ttf);
}
::selection {
    background: #16a085;
    color: #fff;
}
body {
    padding:0;
    margin:0;
    width:100vw;
    min-height:100%;
    font-family: OpenSans;
}

header{
    display: flex;
    width:100%;
    height: 60px;
    margin-top:0;
    margin:auto;
    margin-bottom:20px;
    /* border-bottom: 3px solid #4e8d847a; */
    background:linear-gradient(90deg, #def6e900 0%,#72c3b6 100% );
}
header img{
    /*height:60px;
    width:60px;*/
    cursor: pointer;
    height:10vh;
    margin-left:7px;
    margin-top: 7px;
    /* align-self:center;
    display:flex;
    border-radius: 50%;
    box-shadow: 0 0 15px 1px #000000bc; */
}
#iksz{
    font-family: OpenSansBold;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 10px;
    cursor: default;
    /* align-self:center; */
    /* margin-left:10px; */
    /* margin-top:10px; */
    /* margin-bottom:10px; */
    /* display:flex; */
}
#cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border-top-width: 10px;
    border-top-style: solid;
    border-color: #44c7b4;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width: 70vw;
    height: 100%;
    background: #ffffff46;
    border-radius: 4px 4px 15px 15px;
    box-shadow: 0 0 10px 1px #575757bc;
    padding: 20px;
    margin: 50px;
    cursor: default;
    transition: all 0.3s ease-in-out;
}
.name{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 10px;
    cursor: default;
}
.desc{
    cursor: default;
}
.botton_cont{
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.email_field{
    border: none;
    background: #ffffff35;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #000000bc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 10px;
    background: #ffffff46;
    border-radius: 10px;
    padding: 20px;
    cursor: default;
    transition: all 0.3s ease-in-out;
}
.join_btn{
    border: none;
    background: #49dcc6;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #000000bc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
    margin: 10px;
}
footer{
    display: flex;
    justify-content: flex-end;
}